<table class="generalTable">
<input id="serverType" type="hidden" value="" name="serverType"></input>
<input id="server" type="hidden" value="" name="server"></input>
<input id="date" type="hidden" value="" name="date"></input>
<tbody>
<tr dojoAttachPoint="_closeDateRow">
<td class="propertyRowLabel">
<label for="_closeDateRow">Close Date:</label>
<div dojoType="ecm.widget.HoverHelp"
dojoAttachPoint="_closeDateHoverHelp" message="Enter the date the
account was closed."></div>
</td>
<td class="propertyRowValue" dojoAttachPoint="_closeDateCell">
<div dojoType="ecm.widget.DatePicker"
dojoAttachPoint="_closeDateInput">
</div>
</td>
</tr>
</tbody>
</table>